.navbar-brand {

}

a, a:link {
    .icon {
        // line-height: 20px;
        font-size: 1.25rem;
        vertical-align: middle;
    }
}

.highlight {
    color: rgba($primary-color, 1);
}

.currency {
    font-size: 1.25rem;
    line-height: 1rem;
    color: rgba($dark-color, 1);
}



.dark-block {
    background-color: rgba(darken($dark-color, 2%), 1);
    box-shadow: inset 0 0 0 2px rgba($light-color, .1);
    border-radius: .25rem;
    .number {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    .label {
        font-size: .9rem;
        color: rgba($light-color, .3);
    }
}

.separator {
    font-size: 1.25rem;
    line-height: 1rem;
    color: rgba($dark-color, .25);
    font-weight: 600;
    display: flex;
}
.timer {
    padding: 1rem;
}
.time-block {
    // text-align: center;
    // box-shadow: inset 0 0 0 2px red;
    .number {
        font-size: 1.5rem;
        line-height: 1.25rem;
        color: $primary-color;
        font-weight: 600;
        // display: flex;
        // text-align: center;
    }
    .label {
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 600;
        color: rgba($dark-color, .3);
    }
}



.btn-primary {
    background-color: $primary-color;
    // background-image: linear-gradient(90deg, $secondary-color 0%, $primary-color 100%);
    border: none;
    outline: none;
    // font-size: 1rem;
    /* Rectangle 13 Copy: */
    background-image: linear-gradient(90deg, $secondary-color 0%, $primary-color 100%);
    background-repeat: no-repeat;
    background-size: 150% 150%;
    box-shadow: 0 6px 16px 0 rgba(33,22,60,0.20);
    border-radius: $border-radius * 2;
    transition: 0.2s ease-in-out;
    &:active {
        background-color: $dark-color;
        background-image: linear-gradient(190deg, $secondary-color 0%, $primary-color 100%);
    }
    &:focus {
        box-shadow: 0 6px 16px 0 rgba(33,22,60,0.20);
    }
    &:hover {
        transition: 0.2s ease-in-out;
        background-image: linear-gradient(90deg, $secondary-color 0%, $primary-color 100%);
        // background-position: 0 -50px;
        background-size: 100% 100%;
    }
}

.login-links {
    position: relative;
    z-index: 20;
    color: rgba($light-color, .5);
    line-height: 1rem;
}
.btn-dark {
    background-color: rgba($dark-color, .5);
    // border: none;
    // line-height: 2rem;
    box-shadow:  inset 0 0 0 2px rgba($light-color, .3);
    border-radius: 2px;
    border: 0px solid rgba($border-color, .5);
    color: rgba($light-color, 1);
    &:hover {
        background-color: rgba($dark-color, 1);
        // color: $primary-color;
    }
}


.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: $white-color;
    background-color: $primary-color;
    background-image: linear-gradient(90deg, $secondary-color 0%, $primary-color 100%);
    border-color: $primary-color;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: $light-color;
    text-decoration: none;
    background-color: rgba($dark-color, .9);
}


.swace-coin {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url('../images/swacoin.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
    // box-shadow: inset 0 0 0 2px rgba($primary-color, .51);
}

.form-control {
    font-weight: 600;
    color: $dark-color;
    border: none;
    // border: 2px solid red;
    box-shadow: inset 0 0 0 2px rgba($border-color, 1);
    &.is-invalid {
        box-shadow: inset 0 0 0 2px rgba($primary-color, 1);
        &:focus {
            box-shadow: inset 0 0 0 2px rgba($primary-color, .25);
        }
    }
    &.form-control-lg {
        font-size: 1.75rem;

    }
    &:focus {
        color: rgba($dark-color, 1);
        box-shadow: inset 0 0 0 2px rgba($dark-color, 1);
    }
    &:disabled {
        background-color: rgba($border-color, 1);
        color: rgba($dark-color, .5);
        opacity: 1;

    }
    &::placeholder {
        color: rgba($dark-color, .4);
    }
}

.invalid-feedback {
    color: rgba($primary-color, 1);
    font-size: 1rem;
}

.input-group-append {
    margin-left: 0px;
}

.input-group-text, .btn-outline-secondary {
    background-color: darken($border-color, 0%);
    // border-color: red;
    color: rgba($dark-color, .3);
    font-weight: 600;
    border: none;
    &.dropdown-toggle {
        color: rgba($light-color, 1);
        background-color: darken($dark-color, 0%);
    }
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active {
    color: $white-color;
    background-color: darken($secondary-color, 10%);
}

.show > .btn-outline-secondary.dropdown-toggle {
    color: $white-color;
    background-color: darken($secondary-color, 0%);
    // border-color: red;
    box-shadow: none;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus,
.btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.custom-control-label {
    color: rgba($dark-color, .8);
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $secondary-color;
}

.custom-control-label::before,
.custom-control-label::after {
    width: 1.2rem;
    height: 1.2rem;
}

.table-head {
    background-color: lighten($dark-color, 5%);
    // box-shadow: 0 0 0 2px rgba($dark-color, 1);
    border-radius: $border-radius;
    font-size: .9rem;
    color: rgba($light-color, .5);
}

.badge {
    text-transform: uppercase;
    font-weight: 400;
}
.badge-success {
    background-color: $success;
}
.badge-warning {
    background-color: rgba($dark-color, 1);
    color: rgba($light-color, 1);
}
.badge-info {
    background-color: $secondary-color;
}
.badge-secondary {
    background-color: rgba($dark-color, .5);
    // color: rgba($dark-color, 1);
    &[href]:hover,
    &[href]:focus {
        background-color: rgba($dark-color, 1);
    }
}

.shape-1 {
    position: absolute;
    right: -400px;
    top: -1000px;
    width: 1000px;
    height: 1600px;
    background-image: url('https://swace.io/images/svg/swace-symbol-0.svg');
    background-size:  auto 100%;
    background-repeat: no-repeat;
    // box-shadow: 0 0 0 2px $primary-color;
    // background-position: 0% -100%;

}
