.navbar {
    background-color: $dark-color;
    border-bottom: 2px solid rgba($light-color, .1);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba($border-color, 1);
    font-weight: 600;
    font-size: .9rem;
    border-radius: $border-radius;
    // border: 2px solid rgba(243, 231, 249, 0.3);
    box-shadow: inset 0 0 0 2px rgba($light-color, .2);
    background-color: rgba($dark-color, .4);
}

.progress {
    overflow: visible;
    border-radius: 20px;
    height: 20px;
    background-color: rgba(lighten($dark-color, 10%), 1);
    box-shadow: 0 10px 20px rgba($dark-color, .25);
    position: relative;
    &:hover {
        .target {
            .info {
                opacity: 1;
            }
        }
    }
    .target {
        // overflow: visible;
        width: 12px;
        height: 12px;
        position: absolute;
        left: 10%;
        top: 4px;
        background-color: rgba($light-color, 1);
        border-radius: 1rem;
        .info {
            transition: .15s;
            width: auto;
            opacity: 1;
            position: absolute;
            top: -2rem;
            // left: -1.5rem;
            left: 0;
            transform: translateX(-45%);
            font-size: .85rem;
            font-weight: 600;
            color: rgba($dark-color, 1);
            white-space: nowrap;
            // width: 200px;
            background-color: rgba($border-color, .75);
            padding: .17rem .7rem;
            box-shadow: 10px 10px 15px rgba($dark-color, .2);
            text-transform: uppercase;
            letter-spacing: -.25px;
            line-height: 16px;
            border-radius: 2rem;
            // overflow: visible;
        }
        &:nth-child(2) {
            left: 85%;
        }
    }
    .progress-bar {
        background-color: $primary-color;
        background-image: linear-gradient(90deg, $secondary-color 0%, $primary-color 125%);
        border-radius: 20px;

    }
}

.light-block {
    background-color: rgba($light-color, 1);
    border-radius: .25rem;
    position: relative;
    .block-footer {
        background-color: rgba($dark-color, .1);
        padding: .25rem;
        color: rgba($dark-color, .45);
        font-size: .85rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    h1, h2, h3, h4 {
        color: rgba($dark-color, 1);
        font-weight: 800;
    }
}


.transaction {
    // font-size: 0;
    border-radius: $border-radius;
    background-color: rgba($light-color, 1);
    color: rgba($dark-color, 1);
    line-height: 1.25rem;
    .date {
        // font-size: 1.25rem;
        // border-bottom: 2px solid rgba($dark-color, .1);
    }
    .amount-paid,
    .amount-swa {
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: -1px;
        line-height: 1.5rem;
    }
    .usd-info {
        color: rgba($dark-color, .5);
        & .small {
            line-height: 1.1rem;
            color: rgba($dark-color, .3);
        }
        // background-color: rgba($dark-color, .1);
        // line-height: 1.25rem;
        // border-bottom: 2px solid rgba($dark-color, .1);
    }
    .icon-wrapper {
        font-size: 2rem;
        color: rgba($dark-color, .25);

        // border-top: 1px solid rgba($dark-color, .1);
    }
    // .td-cell {
    //     font-size: 1rem;
    //     // line-height: 1rem;
    //     color: rgba($dark-color, 1);
    //     font-weight: 600;
    //     box-shadow:  inset 0 0 0 1px rgba($dark-color, .1);
    //     // letter-spacing: -.33px;
    // }
    // .sub-cell {
    //     font-size: .9rem;
    //     color: rgba($dark-color, 1);
    //     font-weight: 600;
    //     box-shadow:  inset 0 0 0 1px rgba($dark-color, .1);
    //     background-color: rgba(darken($light-color, 5%), 1);
    //     .cell-label {
    //         color: rgba($dark-color, .3);
    //         font-weight: 600;
    //     }
    // }
}

.table-data {
    // height: 80px;
    font-weight: 600;
}


.alert {
    .alert-heading {
        font-size: 1.3rem;
    }
    &.alert-info {
        color: $white-color;
        background-color: rgba($secondary-color, .95);
        border: none;
    }
    p {
        color: rgba($white-color, .6);
        font-size: 1rem;
    }
}
