$dark-color: #21163C;
$light-color: #FBFAFB;
$primary-color: #E7218E;
$secondary-color: #3900ED;
$white-color: #FFFFFF;
$border-color: #DAD5E5;
$success: #1EA88C;

$elevate-shadow: 10px 15px 15px rgba($dark-color,.2);

$border-radius: 2px;

$bar-width: 36px;
$bar-height: 4px;
$bar-spacing: 11px;

// CHART COLORS

$chart-color-1: #F2D308;
$chart-color-2: #4603E6;
$chart-color-3: #E7218E;
$chart-color-4: #6208D6;
$chart-color-5: #9900FF;
