<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="favicon.ico">

    <title>Swace</title>

    <!-- Google Tag Manager -->

    <!-- End Google Tag Manager -->

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

<main class="">
    <div class="canvas">
        <div class="bubble-1"></div>
        <div class="shape-1"></div>
    </div>

    <div class="container">
        <div class="row mt-3 mx-0">
            <div class="col-md-6 light-block p-4 p-sm-5 p-md-4 p-lg-5">
                <form class="form-signin" action="index.html">
                    <a class="navbar-brand mb-4" href="#">
                        <img src="images/swace-logo-color-white-bg.svg" alt="">
                    </a>
                    <div class="text-left mt-5 mb-3">
                        <h1 class="">Sign in</h1>
                    </div>

                    <div class="form-label-group">
                        <input type="email" id="inputEmail" class="form-control  my-2 py-3 px-3" placeholder="Email address" required autofocus>
                    </div>

                    <div class="form-label-group">
                        <input type="password" id="inputPassword"  class="form-control  my-2 py-3 px-3" placeholder="Password" required>

                    </div>

                    <button class="btn btn-primary btn-block text-uppercase mt-3 p-3 mb-4" type="submit">Sign in</button>

                    <div class="text-right muted-link">
                        <a class="btn-link d-inline-block text-right py-1" href="forgot.html">Forgot password?</a>
                    </div>
                </form>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <div class="content">
                        <span class="d-block d-md-inline-block py-3 mr-md-4">Don't have an account?</span>
                        <a class="btn  btn-dark text-uppercase p-3 px-4" href="signup.html">Sign up</a>
                </div>
            </div>

        </div>
    </div>
</main>

<footer>
    <div class="container">
        <div class="copyright text-center py-5">&copy; 2016-2018 Swace Ltd.</div>
    </div>

</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</body>
</html>
